/* GENERATED — yarn stylex:emit-global-css */
@layer grafana-global {
.react-loading-skeleton{animation-name:animation-1acbpvw;animation-delay:100ms;animation-timing-function:ease-in;animation-duration:100ms;animation-fill-mode:backwards;}
}
